<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheet.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap">
    <title>Petition against algorithmic bias</title>
</head>

<body>
    <header>
        <h1>PETITION</h1>
        <h2>against algorithmic bias</h2>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <div class="lastline">
            {{!-- <a id="back" href="/">Back to main site</a> --}}
            <div class="contact">
                <span id="socialmedia">stay up-to-date:</span>

                <a target="_blank" href="https://facebook.com/"><i
                        class="fa fa-facebook-square"></i></a><br>

                <a target="_blank" href="https://www.snapchat.com/"><i
                        class=" fa fa-snapchat"></i></a><br>

                <a target="_blank" href="https://www.instagram.com/"><i
                        class="fa fa-instagram"></i></a><br>

                <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a><br>
                {{!-- bigger icons: <i class="fa fa-github" style="font-size:24px"></i> --}}
            </div>
        </div>
        <div id="copyright">© Andreas Hechler 2020</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js"></script>
</body>

</html>