{{> shortexpl}}

<p>Not yet registered? Do it <a class="hyperlinkblue" href="/register">here</a> now!</p>

<h3>Login</h3>

{{#if error}}
    <h4>Something went wrong.<br>
    Please enter both your email-address and correct password.</h4>
{{/if}}

{{#if errorpassword}}
    <h4>Your password does not match your email-address.<br>
    Please try again.</h4>
{{/if}}

<form method="POST" id="loginfields">
    <div id="twofields">

        <div>
            <label for="email">Email</label><br>
            <input name="email" type="email" autocomplete="off">
        </div>

        <div>
            <label for="pass">Password (8 characters minimum)</label><br>
            <input name="password" type="password" minlength="8" required autocomplete="off">
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>

    <button>login</button>

</form>