<h2>Login</h2>

{{#if error}}
    <h4>Something went wrong.<br>Please enter both your email-address and password.</h4>
{{/if}}

{{#if errorpassword}}
    <h4>Your password does not match your email-address.<br>Please try again.</h4>
{{/if}}

short context info about petition<br>
Register for a world without algorithmic bias<br>
Every vote supports the cause for a fair and just ...<br>

<form method="POST" id="loginfields">
    <div id="twofields">
        <div>Email</div>
        <input id="email-login" name="email" placeholder="e.g. jane@doe.org" type="text" autocomplete="off" />
        <div>Password</div>
        <input id="password-login" name="password" placeholder="e.g. X8kF3da#V§d" type="text" autocomplete="off" />
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <button id="login-button">login</button>
</form>

Not yet registered? Do it now! <a href="/register">Register</a>