<div class="placeholder"></div>
<p>text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause. text to explain the cause</p>
<h3>Sign here to support our cause</h3>

<form method="POST" id='clicks'>
    <div id="canvascontainer">
        <canvas id="canvas" width="700px" height="100px"></canvas>
        <p id="signhere">your signature</p>
        <input id="signature" name="signature" value="" type="hidden"/>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>

{{#if error}}
    <h4>Something went wrong. Please sign.</h4>
{{/if}}

    <button id="clear" type="button">clear and redraw</button>
    <button id="submit-btn">Sign up</button>
</form>

