{{> shortexpl}}

<h3>Profile</h3>

<p>Tell us a little bit about yourself. You don't have to, it's optional.</p>
<div class="placeholder"></div>
<div class="placeholder"></div>

<form method="POST">
    <div id="threefields">

        <div>
            <label for="age">Age</label><br>
            <input name="age" type="number" autocomplete="off" placeholder="e.g. 33" autocomplete="off">
        </div>

        <div>
            <label for="city">City</label><br>
            <input name="city" type="text" autocomplete="off" placeholder="e.g. Berlin" >
        </div>

        <div class="homepage">
            <label for="url">Homepage (begin with http:// or https://)</label><br>
            <input name="url" type="url" autocomplete="off" placeholder="e.g. https://algorules.org/" >
        </div>

        {{#if error}}
            <h4>Your url looks suspicious. Please enter something else or skip this field.</h4>
        {{/if}}

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

    </div>

    <button>continue</button>

</form>