short context info about petition<br>
Register for a world without algorithmic bias<br>
Every vote supports the cause for a fair and just ...<br><br>
Tell us a little bit about yourself. You don't have to, it's optional.<br>

<form method="POST" id="registerprofile">
    <div id="threefields">
        <div>Age</div>
        <input id="age" name="age" placeholder="e.g. 33" type="number" autocomplete="off" />
        <div>City</div>
        <input id="city" name="city" placeholder="e.g. Berlin" type="text" autocomplete="off" />
        <div>Homepage (begin with http:// or https://)</div>
        <input id="url" name="url" placeholder="e.g. https://algorules.org/" type="text" autocomplete="off" />
        {{#if error}}
            <h4>Your url looks suspicious. Please enter something else or skip this field.</h4>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <button id="profile-button">continue</button>
</form>