short context info about petition<br>
Register for a world without algorithmic bias<br>
Every vote supports the cause for a fair and just ...<br><br>
Tell us a little bit about yourself. You don't have to, it's optional.<br>

<form method="POST" id="registerprofile">
    <div id="threefields">

        <label for="age">Age</label>
        <input name="age" type="number" autocomplete="off" placeholder="e.g. 33" autocomplete="off">

        <label for="city">City</label>
        <input name="city" type="text" autocomplete="off" placeholder="e.g. Berlin" >

        <label for="url">Homepage (begin with http:// or https://)</label>
        <input name="url" type="url" autocomplete="off" placeholder="e.g. https://algorules.org/" >
            {{#if error}}
                <h4>Your url looks suspicious. Please enter something else or skip this field.</h4>
            {{/if}}

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

    </div>

    <button id="profile-button">continue</button>

</form>