short context info about petition<br>
Register for a world without algorithmic bias<br>
Every vote supports the cause for a fair and just ...<br>

{{#if error}}
    <h4>Something went wrong. Please fill out all 4 fields.</h4>
{{/if}}

<form method="POST" id="registerfields">
    <div id="fourfields">
        <div>First Name</div>
        <input id="first" name="first" placeholder="e.g. Jane" type="text" autocomplete="off" />
        <div>Last Name</div>
        <input id="last" name="last" placeholder="e.g. Doe" type="text" autocomplete="off" />
        <div>Email</div>
        <input id="email-register" name="email" placeholder="e.g. jane@doe.org" type="text" autocomplete="off" />
        <div>Password</div>
        <input id="password-register" name="password" placeholder="e.g. X8kF3da#V§d" type="text" autocomplete="off" />
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
    <button id="register-button">register</button>
</form>

Already registered? Just <a href="/login">log in</a>