{{> shortexpl}}

<p>Every vote supports the cause for a fair and just society.</p>
<p>Register now and sign for a world without algorithmic bias.</p>
<div class="placeholder"></div>
<div class="placeholder"></div>

{{#if error}}
    <h4>Something went wrong. Please fill out all 4 fields.<br>
    <div class="placeholder"></div>
    You may have also used an email-address already in use. If that is the case, go to <a class="hyperlinkblue" href="/login">Login</a></h4>
    <div class="placeholder"></div>
{{/if}}

<form method="POST" id="registerfields">

    <div id="fourfields">

        <div>
            <label for="first">First name</label><br>
            <input name="first" type="text" placeholder="e.g. Jane" autocomplete="off">
        </div>

        <div>
            <label for="last">Last name</label><br>
            <input name="last" type="text" placeholder="e.g. Doe" autocomplete="off">
        </div>

        <div>
            <label for="email">Email</label><br>
            <input name="email" type="email" autocomplete="off" placeholder="e.g. jane@doe.org" >
        </div>

        <div>
            <label for="pass">Password (min. 8 characters)</label><br>
            <input name="password" type="password" minlength="8" required placeholder="e.g. X8kF3da#V§d" autocomplete="off">
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

    </div>

    <button>register</button>

</form>

<p>Already registered? Just <a class="hyperlinkblue" href="/login">Login</a></p>