<h2>We demand that ...</h2>

<div id="listofnames">
    {{#fullNames}}
        <p id="signees">{{.}}</p>
{{!-- {{.}} is the current element when looping through an array --}}
    {{/fullNames}}
</div>