<h2>We demand that ...</h2>

{{!-- {{.}} is the current element when looping through an array --}}
<div id="listofnames">
    {{#fullNames}}
        <p id="signees">{{.}}</p>
    {{/fullNames}}
</div>