<div class="heart">{ <3 }</div>
<div class="placeholder"></div>

<div class="navbar"><a href="/petitiontext">Petition</a>  |  <a href="/profile/edit">Edit Profile</a>  |  <a href="/logout">Logout</a></div>
<div class="placeholder"></div>

<h3>{{cfn}}, thank you for joining the cause against algorithmic bias!</h3>
<p class="center"><img id="sigonthanks" src="{{currentSig}}" ></p>
<p class="center">{{amount}} people have signed so far.</p>
<p class="center">You find the names of all signees <a href="/signers">here</a>.</p>

<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>
<div class="placeholder"></div>

<form action="/thanks/delete" method="POST">
    <button>Delete my signature</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

<div class="error">{ error }</div>
